<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/page :: bluma" />

<body>
	<section th:replace="fragments/page :: header(title=${assetDetail.name}, menuItems=~{this::.am-menu})">
		<div class="am-menu" th:replace="fragments/page :: menu('fas fa-home', @{/dashboard})" />
		<div class="am-menu" th:replace="fragments/page :: menu('fas fa-pen', 
				@{/asset/update(assetId=${assetDetail.id})})" />
		<!-- <div class="am-menu" th:replace="fragments/page :: menu('fas fa-sync-alt', '/')" /> -->
		<div class="am-menu" th:replace="fragments/page :: menu('fas fa-plus',
			 	@{/txn/new(assetId=${assetDetail.id}, assetType=${assetType})})" />
		<div class="am-menu" th:replace="fragments/page :: menu('fas fa-filter', '/')" />
	</section>

	<section class="container py-5 mt-4">
		<nav class="level">
			<div class="level-item has-text-centered">
				<div class="box">
					<p class="heading is-size-6 has-text-link">ASSET</p>
					<p class="title is-6 is-uppercase" th:text="${assetDetail.instrument.type}" />
				</div>
			</div>

			<div class="level-item has-text-centered">
				<div class="box">
					<p class="heading is-size-6 has-text-link">INSTRUMENT</p>
					<p class="title is-6 is-uppercase" th:text="${assetDetail.instrument.label}" />
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div class="box">
					<p class="heading is-size-6 has-text-link">HOLDER</p>
					<p class="title is-6 is-uppercase" th:text="${assetDetail.account.holder}" />
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div class="box">
					<p class="heading is-size-6 has-text-link">INSTITUTION</p>
					<p class="title is-6 is-uppercase" th:text="${assetDetail.account.institution}" />
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div class="box">
					<p class="heading is-size-6 has-text-link">ACCOUNT</p>
					<p class="title is-6 is-uppercase" th:text="${assetDetail.account.id}" />
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div class="box">
					<p class="heading is-size-6 has-text-link">PORTFOLIO</p>
					<p class="title is-6 is-uppercase" th:text="${assetDetail.portfolio.label}" />
				</div>
			</div>
		</nav>
	</section>

	<section th:replace="fragments/asset-stat::${assetType}" />
	<section th:replace="fragments/txn-list::${assetType}" />

</body>

</html>