<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/page :: bluma" />

<body>
	<section th:replace="fragments/page :: header(title='ASSET FORM', menuItems=~{})" />


	<section class="container">
		<div class="box my-5">
			<form method="POST" th:action="@{/asset/save}" th:object=${assetForm}>

				<input type="hidden" th:field="*{id}" />

				<div class="field py-3">
					<label class="label has-text-link">ASSET NAME</label>
					<div class="control">
						<input class="input is-medium" type="text" th:field="*{name}" placeholder="FD SXX3765">
					</div>
				</div>

				<div class="field py-3">
					<label class="label has-text-link">INSTRUMENT</label>
					<div class="control">
						<div class="select is-medium is-fullwidth">
							<select th:field="*{instrumentId}">
								<option th:each="config : ${@assetConfig.instruments}" th:value="${config.id}"
									th:text="${config.label}" />
							</select>
						</div>
					</div>
				</div>

				<div class="field py-3">
					<label class="label has-text-link">ACCOUNT</label>
					<div class="control">
						<div class="select is-medium is-fullwidth">
							<select th:field="*{accountId}">
								<option th:each="config : ${@assetConfig.accounts}" th:value="${config.id}"
									th:text="${config.institution} + ' - ' + ${config.holder}" />
							</select>
						</div>
					</div>
				</div>

				<div class="field py-3">
					<label class="label has-text-link">PORTFOLIO</label>
					<div class="control">
						<div class="select is-medium is-fullwidth">
							<select th:field="*{portfolioId}">
								<option th:each="config : ${@assetConfig.portfolio}" th:value="${config.id}"
									th:text="${config.label}">
								</option>
							</select>
						</div>
					</div>
				</div>

				<div class="field py-3">
					<label class="label has-text-link">STATUS</label>
					<div class="control">
						<div class="select is-medium is-fullwidth">
							<select th:field="*{status}">
								<option th:each="config : ${@assetConfig.status}" th:value="${config.id}"
									th:text="${config.label}" />
							</select>
						</div>
					</div>
				</div>

				<div class="field is-grouped is-grouped-right py-5">
					<div class="control">
						<a class="button is-medium is-link is-light">CANCEL</a>
					</div>
					<div class="control">
						<button class="button is-medium is-link" type="submit">SAVE</button>
					</div>

				</div>
			</form>
		</div>
	</section>

</body>

</html>