<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/page :: bluma" />



<body>
	<section th:replace="fragments/page :: header(title='ASSETS', menuItems=~{this::.am-menu})">
		<div class="am-menu" th:replace="fragments/page :: menu('far fa-calendar-alt', @{'/dashboard/calender'})" />
		<div class="am-menu" th:replace="fragments/page :: menu('fas fa-chart-pie', @{'/dashboard/chart'})" />
		<div class="am-menu" th:replace="fragments/page :: menu('fas fa-plus', @{'/asset/new'})" />
		<div class="am-menu" th:replace="fragments/page :: menu('fas fa-filter', 'javascript:showFilter()')" />
	</section>
	
	

	<section class="container py-5 mt-4">
		<nav class="level">
			<div class="level-item has-text-centered">
				<div>
					<p class="heading is-size-6 has-text-link">CURRENT</p>
					<p class="title is-4"
						th:text="${'&#x20B9; ' + #numbers.formatDecimal({current}, 1, 'COMMA', 0, 'POINT')}" />
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading is-size-6  has-text-link">XIRR</p>
					<p class="title is-4" th:text="${#numbers.formatDecimal({xirr}, 1, 2)}" />
				</div>
			</div>
			<div class="level-item has-text-centered">
				<div>
					<p class="heading is-size-6 has-text-link">PROJECTED</p>
					<p class="title is-4"
						th:text="${'&#x20B9; ' + #numbers.formatDecimal({projected}, 1, 'COMMA', 0, 'POINT')}" />
				</div>
			</div>
		</nav>
	</section>
	
	<section class="container my-5 px-5" th:if="${assetFilter.isEmpty()}">
		<div style="width: '100%'"; class="has-text-centered has-text-success-light" th:text="${#numbers.formatDecimal({current*100/7500000}, 1, 0) + '%'}" />		
		
		<div style="margin-top: -25px;">			
			<progress class="progress is-large is-success" th:value="${current}" max="7500000" />
		</div>		
	</section>

	<section class="container">
		<div class="box my-5">
			<table class="table is-fullwidth is-striped">
				<thead class="has-background-link-dark">
					<tr>
						<th class="has-text-white">NAME</th>
						<th class="has-text-white">CLASS</th>
						<th class="has-text-white">INSTRUMENT</th>
						<th class="has-text-white">INSTITUTION</th>
						<th class="has-text-white">HOLDER</th>
						<th class="has-text-white">PORTFOLIO</th>
						<th class="has-text-white has-text-right">CURRENT</th>
						<th class="has-text-white has-text-right">ROI</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="baseAsset: ${baseAssets}">
						<td>
							<a th:text="${baseAsset.name}"
								th:href="@{/asset/view?assetId={assetId}(assetId=${baseAsset.id})}" />
						</td>
						<td th:text="${baseAsset.instrument.type}" />
						<td th:text="${baseAsset.instrument.label}" />
						<td th:text="${baseAsset.institution.label}" />
						<td th:text="${baseAsset.holder}" />						
						<td th:text="${baseAsset.portfolio}" />
						<td class="has-text-right" th:text="${#numbers.formatDecimal({baseAsset.current}, 1, 'COMMA', 0, 'POINT')}" />
						<td class="has-text-right" th:text="${#numbers.formatDecimal({baseAsset.xirr}, 1, 2)}" />
					</tr>	
				</tbody>
			</table>
		</div>
	</section>
	
	<div th:replace="fragments/asset-filter :: assetFilterModal" />
	
</body>

</html>