<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div class="level-item has-text-centered" th:fragment="AMOUNT(label, value)">
	<div>
		<p class="heading is-size-6 has-text-link" th:text="${label}" />
		<p class="title is-5" th:text="${'&#x20B9; ' + #numbers.formatDecimal({value}, 1, 'COMMA', 0, 'POINT')}" />
	</div>
</div>

<div class="level-item has-text-centered" th:fragment="XIRR">
	<div>
		<p class="heading is-size-6  has-text-link">XIRR</p>
		<p class="title is-5" th:text="${#numbers.formatDecimal({assetDetail.xirr}, 1, 2)}" />
	</div>
</div>


<!-- ##########  ASSET STAT TEMPLATES ########## -->

<section class="container py-5 mt-4" th:fragment="FIXED">
	<nav class="level">
		<div th:replace="this::AMOUNT('CURRENT', 	${assetDetail.current})" />
		<div th:replace="this::AMOUNT('PROJECTED', 	${assetDetail.projected})" />
		<div th:replace="this::XIRR" />
	</nav>
</section>


<section class="container py-5 mt-4" th:fragment="PPF">
	<nav class="level">
		<div th:replace="this::AMOUNT('CURRENT', ${assetDetail.current})" />	
		<div th:replace="this::XIRR" />
	</nav>
</section>

<section class="container py-5 mt-4" th:fragment="SSA">
	<nav class="level">
		<div th:replace="this::AMOUNT('CURRENT', ${assetDetail.current})" />	
		<div th:replace="this::XIRR" />
	</nav>
</section>


<section class="container py-5 mt-4" th:fragment="EPF">
	<nav class="level">
		<div th:replace="this::AMOUNT('CURRENT', 	${assetDetail.current})" />	
		<div th:replace="this::AMOUNT('EMPLOYEE', 	${assetDetail.employee})" />
		<div th:replace="this::AMOUNT('EMPLOYER', 	${assetDetail.employer})" />
		<div th:replace="this::XIRR" />
	</nav>
</section>


<section class="container py-5 mt-4" th:fragment="UNIT">
	<nav class="level">
		<div th:replace="this::AMOUNT('CURRENT', ${assetDetail.current})" />
		<div class="level-item has-text-centered">
			<div>
				<p class="heading is-size-6 has-text-link">UNIT</p>
				<p class="title is-5" th:text="${#numbers.formatDecimal({assetDetail.unit}, 1, 3)}" />
			</div>
		</div>
		<div th:replace="this::XIRR" />
	</nav>
</section>

<section class="container py-5 mt-4" th:fragment="BULLION">
	<nav class="level">
		<div th:replace="this::AMOUNT('CURRENT', ${assetDetail.current})" />
		<div class="level-item has-text-centered">
			<div>
				<p class="heading is-size-6 has-text-link">UNIT</p>
				<p class="title is-5" th:text="${#numbers.formatDecimal({assetDetail.unit}, 1, 0) + ' gram'}" />
			</div>
		</div>
		<div th:replace="this::XIRR" />
	</nav>
</section>

<section class="container py-5 mt-4" th:fragment="NPS">
	<nav class="level">
		<div th:replace="this::AMOUNT('CURRENT', ${assetDetail.current})" />	
		<div th:replace="this::AMOUNT('EQUITY', ${assetDetail.equity})" />
		<div th:replace="this::AMOUNT('DEBT', 	${assetDetail.debt})" />
		<div th:replace="this::AMOUNT('GLIT', 	${assetDetail.glit})" />
		<div th:replace="this::XIRR" />
	</nav>
</section>

</html>